@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--color-background: white;
	--color-elements: #FF5C00;
}

::selection{
  background-color: var(--color-elements);
  color: white;
}

body {
  font-family: "Prompt", sans-serif;
  color: var(--color-elements);
  background-color: var(--color-background);
  font-weight: 300;
}

.info {
  position: sticky;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  right: 18px;
  top: 20px;
  float: right;
  width: max-content;
  cursor: pointer;
}

.landing {
  position: relative;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid var(--color-elements);
}

/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 48%;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: -50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  word-break: break-all;
}

.title p {
  font-size: 3.8rem;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.title p span.typed-text,
.par {
  font-weight: normal;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.title p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
}
.title p span.cursor.typing {
  animation: none;
}

.map {
  max-width: 60%;
  align-self: center;
  display: block;
  margin: auto;
}

/* #mydiv {
  position: fixed;
  z-index: 100;
  top: 25%;
  right: 0%;
  width: 500px;
  height: 700px;
  background-color: rgb(185, 255, 22);
  filter: drop-shadow(2px 5px 3px rgb(162, 161, 255));
  text-align: left;
  padding: 20px;
  padding-top: 40px;
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.6;
  cursor: grab;
  color: black;
  font-weight: 300;
} */


/* MAP BOX */

#map-box{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: var(--color-elements);

  border-bottom-left-radius: 64px;
}

#map-box img{
  margin: 1%;
  float: right;
}

#map-horizontal{
  display: block;
  width: 98%;
  max-height: 90%;
}

#map-vertical{
  display: none;
  height: calc(90% - 8px);
  max-width: 98%;
}

#map-box-handle{
  width: 64px;
  height: 64px;
  position: absolute;
  margin: auto 0;
  left: 0;
  bottom:0;
  background-color: transparent;
  border-radius: 20px;
  z-index: 2;
  cursor: pointer;
}

.hidden-box {
	transform: translateX( calc(100% - 74px) ) translateY( calc(-100% + 74px));
	transition: transform 800ms ease-out;
}

.showing-box {
	transform: translateX(0px);
	transition: transform 800ms ease-out;
}

#map-close{

  font-size: 1.1em;
  width: max-content;
  pointer-events: none;
  position: absolute;
  bottom: 22px;
  right: 0px;
  text-align: center;
  transform: rotate(45deg);
  color: white;
}


/* ACCORDION  */

dt {
  cursor:pointer;
  position:relative;
  display:grid;
  padding:20px;
  grid-template-columns: 30px 2fr 1fr 30px;  
  row-gap: 10px;
  column-gap: 20px;
}


/* project name */
.project {
  max-width: 90%;
  /* line-height: 160%; can you have a look at this? on mobile, it makes se border bottom disappear when i open the accordion  */
}

.number {
  font-style: italic;
} 

/* expand */
.expand {
  display:grid;
  grid-template-columns: 30px 2fr 1fr 30px;
  row-gap: 20px;
  column-gap: 20px;
  padding: 0px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid #FF5C00;
}

dd p {
font-size: 18px;
max-width: 70ch;
line-height: 140%;
padding-bottom: 10px;
padding-top: 2.5em;
grid-column: 2;
grid-row: 1;
}

dd img {
  grid-column: 3 / 5;
  padding-bottom: 20px;
}

.play {
  cursor: pointer;
  width:1.2em;
  grid-column: 2;
  grid-row: 1;
}

/* arrow  */
.project-description:after {
  position: absolute;
  content: "+";
  font-weight: 100;
  font-size: 3em;
  right: 0;
  padding-right: 30px;
  font-family: var(--font);
}

.project-description.is-open:after {
  content: "-";
}


@media only screen and (max-width: 720px) {

  .expand, dt {
    grid-template-columns: 1fr;
  }

  dd p, dd img, .play{
    grid-column: 1;
  }

}

@media only screen and (max-width: 960px) {

  #map-horizontal{
    display: none;
  }
  
  #map-vertical{
    display: block;
  }

}

