@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--color-background: #ff0000;
	--color-elements: #00ff00;
}

body {
  font-family: "Prompt", sans-serif;
  color: var(--color-elements);
  background-color: var(--color-background);
  font-weight: 300;
}

.info {
  position: sticky;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  right: 18px;
  top: 20px;
  float: right;
  width: max-content;
  cursor: pointer;
}

.landing {
  position: relative;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid black;
}

/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 48%;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: -50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  word-break: break-all;
}

.title p {
  font-size: 3.8rem;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.title p span.typed-text,
.par {
  font-weight: normal;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.title p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
}
.title p span.cursor.typing {
  animation: none;
}

.map {
  max-width: 60%;
  align-self: center;
  display: block;
  margin: auto;
}

/* #mydiv {
  position: fixed;
  z-index: 100;
  top: 25%;
  right: 0%;
  width: 500px;
  height: 700px;
  background-color: rgb(185, 255, 22);
  filter: drop-shadow(2px 5px 3px rgb(162, 161, 255));
  text-align: left;
  padding: 20px;
  padding-top: 40px;
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.6;
  cursor: grab;
  color: black;
  font-weight: 300;
} */


/* MAP BOX */

#map-box{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  filter: drop-shadow(-1px 0px 4px #333);
}

#map-box-main{
  width: calc(100% - 52px);
  height: 100%;
  background-color: var(--color-background);
}

#map-box-main img{
  height: 96%;
  max-width: 96%;
  margin: 2%;
}

#map-box-handle{
  width: 52px;
  height: 250px;
  position: fixed;
  margin: auto 0;
  right: 0;
  top: calc(72% - 125px);
  background-color: var(--color-background);
  z-index: 2;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 2px;
  cursor: pointer;
}

.hidden-box {
	transform: translateX( calc(-100% + 48px) );
	transition: transform 600ms ease;
}

.showing-box {
	transform: translateX(0px);
	transition: transform 600ms ease;
}

#map-close{
  writing-mode: vertical-lr;
  margin: 65px 16px;
  font-size: 1.2rem;
  width: max-content;
  pointer-events: none;

}


/* ACCORDION  */
.container {
  max-width: 100%;
  background-color: #fff;
}

/* category name */
dl h3 {
  font-size: 16px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  line-height: 1.7;
  cursor: pointer;
  transition: 0.2s linear;
}

dl h3:hover {
  transform: translateX(3px);
}

/* question */
dt h4 {
  max-width: 90%;
  font-size: 18px;
  line-height: 180%;
}

/* expand */
dd p {
  font-size: 18px;
  max-width: 75ch;
  line-height: 170%;
  padding-left: 60px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.category_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

dd.expand {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid black;
}

dt.project-description {
  display: flex;
  cursor: pointer;
  padding: 15px 60px;
  font-size: 1.2rem;
  line-height: 150%;
  max-width: 100%;
}

/* arrow  */
dt.project-description:after {
  position: absolute;
  content: "+";
  font-weight: 300;
  font-size: 2.5rem;
  right: 0;
  padding-right: 20px;
}

dt.project-description.is-open:after {
  content: "-";
}
